/*colores*/
$color-white: #FFF;
$color-platinum:#e6e7e7;
$color-lightgray:#d1d1d1;
$color-fuzzy:#e56353;
$color-ruddypink: #d76c69;
$color-spanishpink: #ecbcba;
$color-black: #121619;
$color-raisinblack: #222323;
$color-nickel: #6c6e70;

//color scheme
$primary: $color-spanishpink;
$secondary:$color-nickel;
$dark: $color-black;
$light: $color-lightgray;
