/*fuentes*/
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;

/*tamaños de fuentes*/
$fontsize-xxlarge: 70px;
$fontsize-xlarge: 30px;
$fontsize-large: 18px;
$fontsize-medium: 16px;
$fontsize-small: 12px;

/* font weight*/
$font-bold: 900;
$font-regular:400;
$font-light:300;